@import "tailwindcss";

:root {
    --primary-color: #333;
    --secondary-color: #666;
    --text-color: #fff;
    --accent-color: #b8c6db;
    --card-background: rgba(255, 255, 255, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(255, 255, 255, 0.3);

}

@property --gradColorStart {
    syntax: '<color>';
    initial-value: #8e9eab;
    inherits: false;
}

@property --gradColorEnd {
    syntax: '<color>';
    initial-value: #eef2f3;
    inherits: false;
}

.gradient-main {
    background: linear-gradient(135deg, var(--gradColorStart), var(--gradColorEnd));
    background-size: 200%;
    background-attachment: fixed;
    animation: gradient-animation 40s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
